<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>$(OPENCLAW_APNS_ENTITLEMENT_ENVIRONMENT)</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>$(OPENCLAW_ACTIVE_APP_GROUP_ID)</string>
	</array>
</dict>
</plist>
